//font family
// $font-family-primary:  'Roboto', sans-serif;

//fonts
$font100: 100;
$font200: 200;
$font300: 300;
$font400: 400;
$font500: 500;
$font600: 600;
$font700: 700;
$font800: 800;
$font900: 900;

//colors//
$black: #000000;
$white: #ffffff;
$primary: #1388cc;
$secondary: #131313;
$grey: #848484;
$darkshadegrey: #303030;
$darkgrey: #383838;
$darkblack: #191919;
$blue: #004167;